# This is For Entropy, Gini, and Information Gain Calculation

### Attribute Selection Measures:
Construction of Decision Tree: A tree can be “learned” by splitting the source set into subsets based on Attribute Selection Measures. Attribute selection measure (ASM) is a criterion used in decision tree algorithms to evaluate the usefulness of different attributes for splitting a dataset. The goal of ASM is to identify the attribute that will create the most homogeneous subsets of data after the split, thereby maximizing the information gain. This process is repeated on each derived subset in a recursive manner called recursive partitioning. The recursion is completed when the subset at a node all has the same value of the target variable, or when splitting no longer adds value to the predictions. The construction of a decision tree classifier does not require any domain knowledge or parameter setting and therefore is appropriate for exploratory knowledge discovery. Decision trees can handle high-dimensional data.

Entropy:
Entropy is the measure of the degree of randomness or uncertainty in the dataset. In the case of classifications, It measures the randomness based on the distribution of class labels in the dataset.

The entropy for a subset of the original dataset having K number of classes for the ith node can be defined as:


![alt text](https://www.clairvoyant.ai/hs-fs/hubfs/1_Mag0PsD0O6QeNSXBb6BTzQ.png?width=700&height=42&name=1_Mag0PsD0O6QeNSXBb6BTzQ.png)


Where,

`S` is the dataset sample.\
`k` is the particular class from K classes\
`p(k)` is the proportion of the data points that belong to class k to the total number of data points in dataset sample S.

Here `p(i,k)` should not be equal to zero.

### Important points related to Entropy:

The entropy is 0 when the dataset is completely homogeneous, meaning that each instance belongs to the same class. It is the lowest entropy indicating no uncertainty in the dataset sample.
when the dataset is equally divided between multiple classes, the entropy is at its maximum value. Therefore, entropy is highest when the distribution of class labels is even, indicating maximum uncertainty in the dataset sample.
Entropy is used to evaluate the quality of a split. The goal of entropy is to select the attribute that minimizes the entropy of the resulting subsets, by splitting the dataset into more homogeneous subsets with respect to the class labels.
The highest information gain attribute is chosen as the splitting criterion (i.e., the reduction in entropy after splitting on that attribute), and the process is repeated recursively to build the decision tree.


### Gini Impurity or index:
Gini Impurity is a score that evaluates how accurate a split is among the classified groups. The Gini Impurity evaluates a score in the range between 0 and 1, where 0 is when all observations belong to one class, and 1 is a random distribution of the elements within classes. In this case, we want to have a Gini index score as low as possible. Gini Index is the evaluation metric we shall use to evaluate our Decision Tree Model.


![alt text](https://www.clairvoyant.ai/hs-fs/hubfs/1_bOOmVYHSwWcPoXZKSLc2Xw.png?width=700&height=43&name=1_bOOmVYHSwWcPoXZKSLc2Xw.png)



Here,

`pi` is the proportion of elements in the set that belongs to the ith category.

### Information Gain:


Information gain measures the reduction in entropy or variance that results from splitting a dataset based on a specific property. It is used in decision tree algorithms to determine the usefulness of a feature by partitioning the dataset into more homogeneous subsets with respect to the class labels or target variable. The higher the information gain, the more valuable the feature is in predicting the target variable. 

The information gain of an attribute A, with respect to a dataset S, is calculated as follows:

![alt text](https://www.clairvoyant.ai/hs-fs/hubfs/1_5Bzoc6n44YXGAZtmEWCi9Q.png?width=700&height=51&name=1_5Bzoc6n44YXGAZtmEWCi9Q.png)

Where,


`A` is the specific attribute or class label\
`|H|` is the entropy of dataset sample S\
`|HV|` is the number of instances in the subset S that have the value v for attribute A.\


Information gain measures the reduction in entropy or variance achieved by partitioning the dataset on attribute A. The attribute that maximizes information gain is chosen as the splitting criterion for building the decision tree.

Information gain is used in both classification and regression decision trees. In classification, entropy is used as a measure of impurity, while in regression, variance is used as a measure of impurity. The information gain calculation remains the same in both cases, except that entropy or variance is used instead of entropy in the formula.

In [45]:
%pip install math

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement math (from versions: none)
ERROR: No matching distribution found for math

In [46]:
import math

In [47]:
#example Dataset 
#Let's say we have a data with two classes, A and B.
#Suppose we have 10 elements, 4 are from class A and 6 are from class B.

#Number of element in each class 
n_A = 4
n_B = 6

total = n_A + n_B   #Total number of elements

In [48]:
#let calculate the probability of each class
p_A = n_A / total
p_B = n_B / total  

#print the proprotions
print("The probability of class A is:", p_A)
print("The probability of class B is:", p_B)

The probability of class A is: 0.4
The probability of class B is: 0.6

In [49]:
#Entropy calculation
#Entropy is a measure of the uncertainty of a random variable.
#It is a measure of the impurity in a set of examples.

#Entropy is calculated as follows:

entropy= -p_A * math.log2(p_A) - p_B * math.log2(p_B)
print("The entropy of the dataset is:", entropy)

The entropy of the dataset is: 0.9709505944546686

In [50]:
#Gini Impurity
#Gini impurity is a measure of how often a randomly chosen element from the set would be incorrectly labeled if it was randomly labeled according to the distribution of labels in the subset.

gini = 1 - (p_A**2 + p_B**2)
print("The Gini impurity of the dataset is:", gini)

The Gini impurity of the dataset is: 0.48

In [51]:
#Information Gain
#Information gain is the measure of the reduction in entropy or impurity after the dataset is split on an attribute.

#Information gain is calculated as follows:
#Assuming a split on some feature divides the dataset into two subsets
#Subset 1: 2 elements of A, 3 of B
#Subset 2: 2 elements of A, 3 of B

#Entropy and size for each subset 

n_1_A, n_1_B = 2, 3
n_2_A, n_2_B = 2, 3

p_1_A = n_1_A / (n_1_A + n_1_B)
p_1_B = n_1_B / (n_1_A + n_1_B)
entropy_1 = -p_1_A * math.log2(p_1_A) - p_1_B * math.log2(p_1_B)

p_2_A = n_2_A / (n_2_A + n_2_B)
p_2_B = n_2_B / (n_2_A + n_2_B)
entropy_2 = -p_2_A * math.log2(p_2_A) - p_2_B * math.log2(p_2_B)

#Calculate the information gain
#Information gain is the difference between the entropy of the original dataset and the entropy of the two subsets

info_gain = entropy - ( (n_1_A + n_1_B) / total * entropy_1 + (n_2_A + n_2_B) / total * entropy_2)

print("The information gain of the dataset is:", info_gain)


###Based on Our Example dataset with two classes (A and B) we have calculated the following values:

## 1. Entropy: The calculated entropy of the dataset is 0.9709505944546686.
# This value indicates a moderate level of impurity in the dataset, Considering that it ranges from 0 to 1, 
#  where 0 means that the dataset is completely pure and 1 means that the dataset is completely impure.

The information gain of the dataset is: 0.0

# Decision Tree Example

A decision tree is a flowchart-like tree structure where each internal node denotes the feature, branches denote the rules and the leaf nodes denote the result of the algorithm. It is a versatile supervised machine-learning algorithm, which is used for both classification and regression problems. It is one of the very powerful algorithms. And it is also used in Random Forest to train on different subsets of training data, which makes random forest one of the most powerful algorithms in machine learning.

Decision Tree is a type of supervised learning algorithm that is mostly used in classification problems. It works for both continuous as well as categorical output variables. It is a tree-structured classifier, where internal nodes represent the features of a dataset, branches represent the decision rules and each leaf node represents the outcome.



### Decision Tree Terminologies

Some of the common Terminologies used in Decision Trees are as follows:

* Root Node: It is the topmost node in the tree,  which represents the complete dataset. It is the starting point of the decision-making process.
* Decision/Internal Node: A node that symbolizes a choice regarding an input feature. Branching off of internal nodes connects them to leaf nodes or other internal nodes.
* Leaf/Terminal Node: A node without any child nodes that indicates a class label or a numerical value.
* Splitting: The process of splitting a node into two or more sub-nodes using a split criterion and a selected feature.
* Branch/Sub-Tree: A subsection of the decision tree starts at an internal node and ends at the leaf nodes.
* Parent Node: The node that divides into one or more child nodes.
* Child Node: The nodes that emerge when a parent node is split.
* Impurity: A measurement of the target variable’s homogeneity in a subset of data. It refers to the degree of randomness or uncertainty in a set of examples. The Gini index and entropy are two commonly used impurity measurements in decision trees for classifications task 
* Variance: Variance measures how much the predicted and the target variables vary in different samples of a dataset. It is used for regression problems in decision trees. Mean squared error, Mean Absolute Error, friedman_mse, or Half Poisson deviance are used to measure the variance for the regression tasks in the decision tree.
* Information Gain: Information gain is a measure of the reduction in impurity achieved by splitting a dataset on a particular feature in a decision tree. The splitting criterion is determined by the feature that offers the greatest information gain, It is used to determine the most informative feature to split on at each node of the tree, with the goal of creating pure subsets
* Pruning: The process of removing branches from the tree that do not provide any additional information or lead to overfitting.

### Advantages of Decision Tree:
1. Simple to understand and to interpret. Trees can be visualised.
2. Requires little data preparation. Other techniques often require data normalisation, dummy variables need to be created and blank values to be removed.
3. The cost of using the tree (i.e., predicting data) is logarithmic in the number of data points used to train the tree.
4. Able to handle both numerical and categorical data. Other techniques are usually specialised in analysing datasets that have only one type of variable.
5. Able to handle multi-output problems.
6. Uses a white box model. If a given situation is observable in a model, the explanation for the condition is easily explained by boolean logic. By contrast, in a black box model (e.g., in an artificial neural network), results may be more difficult to interpret.
7. Possible to validate a model using statistical tests. That makes it possible to account for the reliability of the model.
8. Performs well even if its assumptions are somewhat violated by the true model from which the data were generated.


### Disadvantages of Decision Tree:
1. Decision-tree learners can create over-complex trees that do not generalise the data well. This is called overfitting. Mechanisms such as pruning, setting the minimum number of samples required at a leaf node or setting the maximum depth of the tree are necessary to avoid this problem.
2. Decision trees can be unstable because small variations in the data might result in a completely different tree being generated. This problem is mitigated by using decision trees within an ensemble.
3. The problem of learning an optimal decision tree is known to be NP-complete under several aspects of optimality and even for simple concepts. Consequently, practical decision-tree learning algorithms are based on heuristic algorithms such as the greedy algorithm where locally optimal decisions are made at each node. Such algorithms cannot guarantee to return the globally optimal decision tree.
4. There are concepts that are hard to learn because decision trees do not express them easily, such as XOR, parity or multiplexer problems.
5. Decision tree learners create biased trees if some classes dominate. It is therefore recommended to balance the dataset prior to fitting with the decision tree.

![alt text](https://media.geeksforgeeks.org/wp-content/uploads/20230424141727/Decision-Tree.webp)

In [52]:
#importing the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [53]:
# Load data set 

df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [54]:
#drop deck column
df.drop('deck', axis=1, inplace=True)

In [55]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

In [56]:
#impute missing values of age and fare using mediam
imputer = SimpleImputer(strategy='median')
df[['age', 'fare']] = imputer.fit_transform(df[['age', 'fare']])

#impute missing value of embark and embarked_town using mode
imputer = SimpleImputer(strategy='most_frequent')
df[['embarked', 'embark_town']] = imputer.fit_transform(df[['embarked', 'embark_town']])

In [57]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [58]:
# Encode the categorical and object variables using for loop and labelencoder 
le = LabelEncoder()
for col in df.select_dtypes(include=['object', 'category']).columns:
    df[col] = le.fit_transform(df[col])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int32
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    int32
 8   class        891 non-null    int32
 9   who          891 non-null    int32
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    int32
 12  alive        891 non-null    int32
 13  alone        891 non-null    bool
dtypes: bool(2), float64(2), int32(6), int64(4)
memory usage: 64.5 KB

In [59]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,2,1,True
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,1,False
4,0,3,1,35.0,0,0,8.0500,2,2,1,True,2,0,True

In [60]:
#splict the data into X and Y
X= df.drop(['survived','alive'], axis= 1)
y= df['survived']
# split the data into train and test 

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [61]:
from sklearn.preprocessing import LabelEncoder
# Convert the target variable to discrete classes
le = LabelEncoder()
#y_train = le.fit_transform(y_train)
#y_test = le.transform(y_test)

# Create and train the model with the fixed target variable
model = DecisionTreeClassifier(criterion='gini', random_state=50, max_depth=3)
model.fit(X_train, y_train)

# Predict using the fixed model
y_pred = model.predict(X_test)

In [62]:
# evaluate the model
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.8212290502793296
[[92 13]
 [19 55]]
              precision    recall  f1-score   support

           0       0.83      0.88      0.85       105
           1       0.81      0.74      0.77        74

    accuracy                           0.82       179
   macro avg       0.82      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

In [63]:
# Save the decision tree classifier 
from sklearn.tree import export_graphviz
export_graphviz(model, out_file='./Saved_model/Decision_tree_02.dot', feature_names=X.columns, class_names=['0', '1'], filled=True, rounded=True, special_characters=True)

Here we run Decision Tree classifier on the famous Iris dataset and calculate the Entropy, Gini, and Information Gain for the dataset.